################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bingo-konzol/.vs/bingo-konzol/FileContentIndex/435f867a-8e51-441f-92cd-3afad2a2bfe1.vsidx
